<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mingle With IDT</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet'
	href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5, ul, li {
	font-family: "Open Sans", sans-serif
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f1f1f1;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	font-weight: bold;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

li a.active {
	background-color: #4ab6e0;
	color: white;
}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$("#navbar").load("html/menu.html");

		$(".active-class a").click(function() {
			$(".active-class a").removeClass("active");
			$(this).addClass("active");
		});
	});
</script>
</head>
<body>

	<!-- Navbar -->
	<nav id="navbar"></nav>
	<!-- Navbar on small screens -->
	<div id="navDemo"
		class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">My
			Profile</a>
	</div>

	<!-- Page Container -->
	<div class="w3-container w3-content"
		style="max-width: 1800px; margin-top: 80px">
		<h1 th:align="center" th:text="${club.cname}"></h1>
		<!-- The Grid -->
		<div class="w3-row">
			<!-- Left Column -->
			<div style="margin-top: 16px;">
				<!-- Category -->
				<ul>
					<li class="active-class"><a class="active"
						th:href="@{/scheduleManage(cname=${club.cname})}" target="frame">일정
							관리</a></li>
					<li class="active-class"><a
						th:href="@{/scheduleManage(cname=${club.cname})}" target="frame">사진첩
							관리</a></li>
					<li class="active-class"><a
						th:href=@{/memberManage(cname=${club.cname})} target="frame">동호회원
							관리</a></li>
				</ul>
				<hr class="w3-clear">
				<br>
			</div>
			<iframe width="1770" height="600"
				th:src="@{/scheduleManage(cname=${club.cname})}" name="frame"
				id="frame" frameborder="0" framespacing="0" marginheight="0" marginwidth="0"
				scrolling="yes" vspace="0" align="left"> 이 브라우저는 iframe을 지원하지
				않습니다</iframe>

		</div>
	</div>
	<br>




	<!-- End Grid -->

	<!-- End Page Container -->
	<hr>
	<br>
	<!-- Footer -->
	<footer class="w3-container w3-theme-d3 w3-padding-16">
		<h5>Footer</h5>
	</footer>
	<footer class="w3-container w3-theme-d5">
		<p>
			Powered by <a href="https://www.w3schools.com/w3css/default.asp"
				target="_blank">w3.css</a>
		</p>
	</footer>
	<script type="text/javascript">
		// Accordion
		function myFunction(id) {
			var x = document.getElementById(id);
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
				x.previousElementSibling.className += " w3-theme-d1";
			} else {
				x.className = x.className.replace("w3-show", "");
				x.previousElementSibling.className = x.previousElementSibling.className
						.replace(" w3-theme-d1", "");
			}
		}

		// Used to toggle the menu on smaller screens when clicking on the menu button
		function openNav() {
			var x = document.getElementById("navDemo");
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
			} else {
				x.className = x.className.replace(" w3-show", "");
			}
		}
	</script>
</body>
</html>