<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mingle With IDT</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet'
	href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<style>
html, body, h1, h2, h3, h4, h5 {
	font-family: "Open Sans", sans-serif
}

#delete {
	background: red;
	color: #fff;
	border: none;
	position: relative;
	height: 30px;
	font-size: 1.1em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

#apply {
	background: #237fbc;
	color: #fff;
	border: none;
	position: relative;
	height: 30px;
	font-size: 1.1em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

#apply:hover, #delete:hover {
	background: #fff;
	color: #1AAB8A;
}

#apply:before, #apply:after, #delete:before, #delete:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #1AAB8A;
	transition: 400ms ease all;
}

#apply:after, #delete:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

#apply:hover:before, #apply:hover:after, #delete:hover:before, #delete:hover:after
	{
	width: 100%;
	transition: 800ms ease all;
}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$("#navbar").load("html/menu.html");
		$("#foot").load("html/footer.html");
	});
</script>
</head>
<body>

	<!-- Navbar -->
	<nav id="navbar"></nav>
	<!-- Navbar on small screens -->
	<div id="navDemo"
		class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">My
			Profile</a>
	</div>



	<!-- Page Container -->
	<div class="w3-container w3-content"
		style="max-width: 1800px; margin-top: 80px">
		<h1 th:align="center" th:text="${club.cname}"></h1>

		<div class="w3-right" th:if="${regi.enabled} == 2">
			<a th:href="@{/clubManage(cname=${club.cname})}"
				class="w3-button w3-padding-large w3-theme-d1"
				style="font-size: 16px;"><i
				class="fa fa-cog fa-fw w3-margin-right"
				style="font-size: 16px; color: white;"></i>동호회 관리</a>
		</div>


		<!-- The Grid -->
		<div class="w3-row">
			<!-- Left Column -->
			<div class="w3-col m3" style="margin-top: 16px;">
				<div class="w3-card w3-round w3-white w3-hide-small">
					<div class="w3-container">
						<h3>모임 일정</h3>
						<hr class="w3-clear">

						<th:block th:each="sche : ${schedule}">
							<p>
								<i class="fa fa-clock-o fa-fw w3-margin-right"
									style="font-size: 20px; color: #00498c;"></i> <span
									style="font-size: 20px; font-weight: bold;"
									th:text="${#dates.format(sche.wdate,'yyyy-MM-dd HH:mm')}"></span>
							</p>
							<p>
								<i class="fa fa-map-marker fa-fw w3-margin-right"
									style="font-size: 20px; color: #00498c;"></i> <span
									style="font-size: 16px;" th:text="${sche.location}"></span>
							</p>
							<p>
								<i class="fa fa-commenting  fa-fw w3-margin-right"
									style="font-size: 20px; color: #00498c;"></i> <span
									style="font-size: 16px;" th:text="${sche.content}"></span>
							</p>
							<a
								th:href="@{/schedulingApply(cname=${club.cname}, scid=${sche.scid})}"><button
									id="apply">신청</button></a>
							<th:block th:each="duling : ${dulingIdList}">
								<a th:if="${duling} == ${sche.scid}"
									th:href="@{/schedulingDelete(cname=${club.cname}, scid=${sche.scid})}"><button
										id="delete">취소</button></a>
							</th:block>

							<hr class="w3-clear">
						</th:block>
						<br>

					</div>
				</div>
				<br>
			</div>

			<!-- Middle Column -->
			<div class="w3-col m7 w3-row-padding">

				<div class="w3-container w3-card w3-white w3-round w3-margin">
					<div class="w3-row-padding">
						<br>
						<th:block th:each="Album : ${albumList}">
							<div class="w3-third w3-container w3-margin-bottom">
								<img th:src="${Album.aname}" alt="Error"
									style="width: 100%; height: 186px;" class="w3-hover-opacity">
								<div class="w3-container" style="background-color: #f1f1f1">
									<p>
										<b th:text="${#dates.format(Album.wdate,'yyyy-MM-dd')}"></b>
									</p>
									<p th:text="${Album.location}"></p>
								</div>
							</div>
						</th:block>
					</div>
					<!-- Pagination -->
					<div class="w3-center w3-padding-32">
						<div class="w3-bar">
							<th:block th:each="num: ${#numbers.sequence(1,totalPages)}"
								th:if="${totalPages} >0">

								<a th:href="@{/clubMain(page=${num}, cname=${club.cname})}"
									class="w3-margin-right w3-bar-item w3-black w3-button"
									th:text="${num}"></a>
							</th:block>
						</div>
					</div>
				</div>
				<!-- End Middle Column -->
			</div>
			<div class="w3-col m2" style="margin-top: 16px;">
				<div class="w3-card w3-round w3-white w3-center">
					<div class="w3-container"
						style="max-height: 710px; overflow: auto;">
						<h3>동호회원 목록</h3>
						<hr class="w3-clear">
						<th:block th:each="cap : ${caps}">
							<p align="left">
								<img th:src="${cap.person_img}" class="w3-circle"
									style="height: 55px; width: 55px" alt="Avatar"> <span
									th:text="${cap.name}"></span> <i class="fas fa-crown"
									style="font-size: 24px; color: #DBA901"></i>
							</p>
						</th:block>
						<th:block th:each="mem : ${members}">
							<p align="left">
								<img th:src="${mem.person_img}" class="w3-circle"
									style="height: 55px; width: 55px" alt="Avatar"> <span
									th:text="${mem.name}"></span>
							</p>
						</th:block>
						<br>
					</div>
				</div>
				<br>




				<!-- End Right Column -->
			</div>
			<!-- End Grid -->
		</div>

		<!-- End Page Container -->

	</div>
	<br>
	<!-- Footer -->
	<div id="foot"></div>

	<script>
		// Accordion
		function myFunction(id) {
			var x = document.getElementById(id);
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
				x.previousElementSibling.className += " w3-theme-d1";
			} else {
				x.className = x.className.replace("w3-show", "");
				x.previousElementSibling.className = x.previousElementSibling.className
						.replace(" w3-theme-d1", "");
			}
		}

		// Used to toggle the menu on smaller screens when clicking on the menu button
		function openNav() {
			var x = document.getElementById("navDemo");
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
			} else {
				x.className = x.className.replace(" w3-show", "");
			}
		}
	</script>

</body>
</html>