<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>글 목록</title>
<meta http-equiv = "Content-Type" content ="text/html; charset=UTF-8">
</head>
<body th:align="center">

<h1>활동보고 게시판</h1>

<table th:align="center" border="1" th:cellpadding="0" th:cellspadding="0" th:width="700">
<tr>
	<th bgcolor = "orange" width="100">번호</th>
	<th bgcolor = "orange" width="200">제목</th>
	<th bgcolor = "orange" width="150">작성자</th>
	<th bgcolor = "orange" width="150">등록일</th>
	<th bgcolor = "orange" width="100">조회수</th>

</tr>
<tr th:each="Activity_Board, state : ${boardList}">
	<td th:text="${state.count}"></td>
	<td><a th:href="@{/getBoard(board_no=${Activity_Board.board_no})}"
			th:text="${Activity_Board.title}"></a></td>
	<td th:text="${Activity_Board.writer_name}"></td>
	<td th:text="${#dates.format(Activity_Board.regdate,'yyyy-MM-dd')}"></td>
	<td th:text="${Activity_Board.read_cnt}"></td>
</tr>
</table>
<br>
<a th:href="insertBoard">글 쓰기</a>
</body>
</html>