<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>게시글 상세</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#navbar").load("html/menu.html");
	});
</script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet'
	href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {
	font-family: "Open Sans", sans-serif
}
</style>


</head>
<body th:align="center">

	 <nav id="navbar"></nav> 

	
	<br>
	<br>
	<br>
	<h1>활동보고 게시판</h1>
	<br>
	<form th:action="@{/updateBoard}" method="post">
		<input name="board_no" type="hidden"
			th:value="${Activity_Board.board_no}">

		<table th:align="center" border="1" th:cellpadding="0"
			th:cellespacing="0" th:width="700">

			<tr>
				<td  th:text="제목" width="80"></td>
				<td><input name="title" type="text"
					th:value="${Activity_Board.title}"></td>
			</tr>
			<tr>
				<td  th:text="작성자"></td>
				<td th:text="${Activity_Board.writer_name}"></td>
			</tr>
			<tr>
				<td  th:text="내용"></td>
				<td><textarea name="content"
						th:text="${Activity_Board.content}" cols="40" rows="10"></textarea></td>
			</tr>
			<tr>
				<td  th:text="등록일"></td>
				<td th:text="${#dates.format(Activity_Board.regdate,'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<td  th:text="조회수"></td>
				<td th:text="${Activity_Board.read_cnt}"></td>
			</tr>
			<th:block th:if="${username} == ${Activity_Board.writer_name}">
			<tr>
				<td colspan="2" align="center"><input type="submit"
					value="게시글 수정"></td>
			</tr>
			</th:block>
		</table>
	</form>

	<!--  <a th:href="@{/insertBoard}">글등록</a>&nbsp;&nbsp;&nbsp; -->
	<br>
	<a th:href="@{/deleteBoard(board_no=${Activity_Board.board_no})}"><button>글삭제</button></a>&nbsp;&nbsp;&nbsp;
	<a th:href="@{/getBoardList}"><button>글목록</button></a>
</body>
</html>