<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<meta charset="UTF-8">
<title>get</title>
</head>
<script type="text/javascript">
	$(document).ready(function() {

		$.ajax({
			type : "get",
			url : "/getPeople",
			success : function(json) {
				console.log(json);
			}
		});

		$("button").click(function() {
			$.get("/getPeople", function(data, status) {
				alert("Data: " + data + "\nStatus: " + status);
			});
		});
	});
</script>
<body>

	<h1>김주호 잘난척 지리네</h1>
	<button>Send an HTTP GET request to a page and get the result
		back</button>
</body>
</html>