<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<title>Mingle With IDT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet'
	href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {
	font-family: "Open Sans", sans-serif
}
</style>
<script type="text/javascript">
	$(document).ready(function() {

		$("#loginbtn").click(function() {
			if ($("#loginid").val() == "") {
				alert("로그인 아이디를 입력해주세요");
				$("loginid").focus();
				$("#loginfrm").bind('submit', submitAction);
			} else if ($("#loginpw").val() == "") {
				alert("비밀번호를 입력해주세요");
				$("loginpw").focus();
				$("#loginfrm").bind('submit', submitAction);
			} else {
				$("#loginfrm").unbind('submit', submitAction);
				$("#loginfrm").submit();
			}
		});
		
		$("#navbar").load("html/menu.html");
		
		submitAction = function() {
		    var
		    self = this,
		    args = [].slice.apply(arguments);
		    setTimeout(function() {
		        doSomething.apply(self, args);
		    }, 0);
		    return false;
		};
		
	});
</script>
</head>
<body class="w3-theme-l5">

<p th:if="${param.error}"><script>alert("아이디 또는 패스워드가 다릅니다.");</script></p>

	<!-- Navbar -->
	<nav id = "navbar"></nav>
	<!-- Navbar on small screens -->
	<div id="navDemo"
		class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">My
			Profile</a>
	</div>

	<!-- Page Container -->
	<div class="w3-container w3-content"
		style="max-width: 1400px; margin-top: 80px">
		<!-- The Grid -->
		<div class="w3-row">
			<!-- Left Column -->
			<div class="w3-col m3" style="margin-top:16px;">
				<!-- Profile -->
				<div class="w3-card w3-round w3-white">
					<div class="w3-container w3-padding">
						<h4 class="w3-center">Please Sign in</h4>
						<form id="loginfrm" method="post">
							<p>
								<i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i>&nbspID&nbsp
								<input id="loginid" type="text" name="username"
									placeholder="아이디" class="w3-border w3-padding" />
							</p>
							<p>
								<i class="fa fa-key fa-fw w3-margin-right w3-text-theme"></i>PW
								<input id="loginpw" type="password" name="password"
									placeholder="패스워드" class="w3-border w3-padding" />
							</p>
							<hr>
							<button id="loginbtn" type="submit" class="w3-button w3-theme"
								style="width: 100%;">로그인</button>
						</form>
					</div>
				</div>
				<br>

				<!-- Accordion -->
				<div class="w3-card w3-round">
					<div class="w3-white">
						<button onclick="myFunction('Demo1')"
							class="w3-button w3-block w3-theme-l1 w3-left-align">
							<i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My
							Groups
						</button>
						<div id="Demo1" class="w3-hide w3-container">
							<p>Some text..</p>
						</div>
						<button onclick="myFunction('Demo2')"
							class="w3-button w3-block w3-theme-l1 w3-left-align">
							<i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My
							Events
						</button>
						<div id="Demo2" class="w3-hide w3-container">
							<p>Some other text..</p>
						</div>
						<button onclick="myFunction('Demo3')"
							class="w3-button w3-block w3-theme-l1 w3-left-align">
							<i class="fa fa-users fa-fw w3-margin-right"></i> My Photos
						</button>
						<div id="Demo3" class="w3-hide w3-container">
							<div class="w3-row-padding">
								<br>
								<div class="w3-half">
									<img src="/w3images/lights.jpg" style="width: 100%"
										class="w3-margin-bottom">
								</div>
								<div class="w3-half">
									<img src="/w3images/nature.jpg" style="width: 100%"
										class="w3-margin-bottom">
								</div>
								<div class="w3-half">
									<img src="/w3images/mountains.jpg" style="width: 100%"
										class="w3-margin-bottom">
								</div>
								<div class="w3-half">
									<img src="/w3images/forest.jpg" style="width: 100%"
										class="w3-margin-bottom">
								</div>
								<div class="w3-half">
									<img src="/w3images/nature.jpg" style="width: 100%"
										class="w3-margin-bottom">
								</div>
								<div class="w3-half">
									<img src="/w3images/snow.jpg" style="width: 100%"
										class="w3-margin-bottom">
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>

				<!-- Interests 
				<div class="w3-card w3-round w3-white w3-hide-small">
					<div class="w3-container">
						<p>Interests</p>
						<p>
							<span class="w3-tag w3-small w3-theme-d5">News</span> <span
								class="w3-tag w3-small w3-theme-d4">W3Schools</span> <span
								class="w3-tag w3-small w3-theme-d3">Labels</span> <span
								class="w3-tag w3-small w3-theme-d2">Games</span> <span
								class="w3-tag w3-small w3-theme-d1">Friends</span> <span
								class="w3-tag w3-small w3-theme">Games</span> <span
								class="w3-tag w3-small w3-theme-l1">Friends</span> <span
								class="w3-tag w3-small w3-theme-l2">Food</span> <span
								class="w3-tag w3-small w3-theme-l3">Design</span> <span
								class="w3-tag w3-small w3-theme-l4">Art</span> <span
								class="w3-tag w3-small w3-theme-l5">Photos</span>
						</p>
					</div>
				</div>
				<br>
				-->

				<!-- Alert Box 
				<div
					class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
					<span onclick="this.parentElement.style.display='none'"
						class="w3-button w3-theme-l3 w3-display-topright"> <i
						class="fa fa-remove"></i>
					</span>
					<p>
						<strong>Hey!</strong>
					</p>
					<p>People are looking at your profile. Find out who.</p>
				</div>
				-->
				<!-- End Left Column -->
			</div>

			<!-- Middle Column -->
			<div class="w3-col m7">
				<th:block th:each="act : ${actList}">
				<div class="w3-container w3-card w3-white w3-round w3-margin">
					<br> <img src="/w3images/avatar2.png" alt="Avatar"
						class="w3-left w3-circle w3-margin-right" style="width: 60px">
					<span class="w3-right w3-opacity" th:text="${#dates.format(act.regdate,'yyyy-MM-dd')}"></span>
					<h4 th:text="${act.writer_name}"></h4>
					<br>
					<hr class="w3-clear">
					<p th:text="${act.content}"></p>
					<div class="w3-row-padding" style="margin: 0 -16px">
					
						<!--  
						<div class="w3-half">
							<img src="/w3images/lights.jpg" style="width: 100%"
								alt="Northern Lights" class="w3-margin-bottom">
						</div>
						<div class="w3-half">
							<img src="/w3images/nature.jpg" style="width: 100%" alt="Nature"
								class="w3-margin-bottom">
						</div>
						-->
					</div>
					<button type="button"
						class="w3-button w3-theme-d2 w3-margin-bottom">
						<i class="fa fa-comment"></i>  Comment
					</button>
				</div>
			</th:block>
				

				<!-- End Middle Column -->
			</div>

			<!-- Right Column -->
			<div class="w3-col m2">
				<div class="w3-card w3-round w3-white w3-center">
					<div class="w3-container">
						<p>Upcoming Events:</p>
						<img src="/w3images/forest.jpg" alt="Forest" style="width: 100%;">
						<p>
							<strong>Holiday</strong>
						</p>
						<p>Friday 15:00</p>
						<p>
							<button class="w3-button w3-block w3-theme-l4">Info</button>
						</p>
					</div>
				</div>
				<br>

				<div class="w3-card w3-round w3-white w3-center">
					<div class="w3-container">
						<p>Friend Request</p>
						<img src="/w3images/avatar6.png" alt="Avatar" style="width: 50%"><br>
						<span>Jane Doe</span>
						<div class="w3-row w3-opacity">
							<div class="w3-half">
								<button class="w3-button w3-block w3-green w3-section"
									title="Accept">
									<i class="fa fa-check"></i>
								</button>
							</div>
							<div class="w3-half">
								<button class="w3-button w3-block w3-red w3-section"
									title="Decline">
									<i class="fa fa-remove"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<br>

				<div class="w3-card w3-round w3-white w3-padding-16 w3-center">
					<p>ADS</p>
				</div>
				<br>

				<div class="w3-card w3-round w3-white w3-padding-32 w3-center">
					<p>
						<i class="fa fa-bug w3-xxlarge"></i>
					</p>
				</div>

				<!-- End Right Column -->
			</div>

			<!-- End Grid -->
		</div>

		<!-- End Page Container -->
	</div>
	<br>

	<!-- Footer -->
	<footer class="w3-container w3-theme-d3 w3-padding-16">
		<h5>Footer</h5>
	</footer>

	<footer class="w3-container w3-theme-d5">
		<p>
			Powered by <a href="https://www.w3schools.com/w3css/default.asp"
				target="_blank">w3.css</a>
		</p>
	</footer>

	<script>
		// Accordion
		function myFunction(id) {
			var x = document.getElementById(id);
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
				x.previousElementSibling.className += " w3-theme-d1";
			} else {
				x.className = x.className.replace("w3-show", "");
				x.previousElementSibling.className = x.previousElementSibling.className
						.replace(" w3-theme-d1", "");
			}
		}

		// Used to toggle the menu on smaller screens when clicking on the menu button
		function openNav() {
			var x = document.getElementById("navDemo");
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
			} else {
				x.className = x.className.replace(" w3-show", "");
			}
		}
	</script>

</body>
</html>
