<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>새 글 등록</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#navbar").load("html/menu.html");
	});
</script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet'
	href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {
	font-family: "Open Sans", sans-serif
}
</style>


</head>
<body th:align="center">

	<nav id="navbar"></nav>

	<br>
	<br>

	<div class="w3-container" style="margin-top: 70px;">
		<br>
		<h1>활동보고 게시판</h1>
		<hr class="w3-clear">
		<form th:action="insertBoard" method="post">
			<table th:align="center" border="1" th:cellpadding="0"
				th:cellespacing="0" th:width="700">
				<tr>
					<td  th:text="제목" width="80"></td>
					<td><input name="title" type="text" style="width: 100%"></td>
				</tr>
					<tr>
						<td  th:text="작성자" ></td>
						<td style="text-align: left;"><input name="writer_name" type="text" size ="10"
						th:value="${username}" readonly style="width: 100%"></td>
					</tr>
				<tr>
					<td th:text="내용"></td>
					<td><textarea name="content" rows="10"
							style="width: 100%;"></textarea></td>
				</tr>
			</table>
			<br>
			<input class="w3-button w3-theme" type="submit"
						value="게시글 등록">
			
		</form>
		<br>
		<a th:href="@{/getBoardList}"><button class="w3-button w3-theme">게시글 목록</button></a>
		<br>
		
		</div>
</body>
</html>