<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<title>Mingle With IDT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet'
	href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link
	href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
html, body, h1, h2, h3, h4, h5 {
	font-family: 'Noto Sans KR', sans-serif;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$("#navbar").load("html/menu.html");
		$("#foot").load("html/footer.html");
	});
</script>
</head>
<body class="w3-theme-l5">

	<!-- Navbar -->
	<nav id="navbar"></nav>
	<!-- Navbar on small screens -->
	<div id="navDemo"
		class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">My
			Profile</a>
	</div>

	<!-- Page Container -->
	<div class="w3-container w3-content"
		style="max-width: 1400px; margin-top: 80px">
		<!-- The Grid -->
		<div class="w3-row">
			<!-- Left Column -->
			<div class="w3-col m3" style="margin-top: 16px;">
				<!-- Profile -->
				<div class="w3-card w3-round w3-white">
					<div class="w3-container w3-padding">
						<h4 class="w3-center">My Profile</h4>
						<p class="w3-center">
							<img th:src="${person.person_img}" class="w3-circle"
								style="height: 106px; width: 106px" alt="Avatar">
						</p>
						<hr>
						<p>
							<i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i>이름
							: &nbsp&nbsp<span th:text="${person.name}"></span>
						</p>
						<p>
							<i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>소속
							: &nbsp&nbsp<span th:text="${person.belong}"></span>
						</p>
						<p>
							<i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i>번호
							: &nbsp&nbsp<span th:text="${person.tel}"></span>
						</p>

						<form method="get" action="logout">
							<hr>
							<button type="submit" class="w3-button w3-theme"
								style="width: 100%;">로그아웃</button>
						</form>
					</div>
				</div>
				<br>

				<!-- Accordion -->
				<div class="w3-card w3-round">
					<div class="w3-white">
						<button onclick="myFunction('Demo1')"
							class="w3-button w3-block w3-theme-l1 w3-left-align">
							<i class="fa fa-users fa-fw w3-margin-right"></i> My Clubs
						</button>
						<div id="Demo1" class="w3-hide w3-container">
							<th:block th:each="regi : ${myRegi}" th:if="${regi.enabled} == 2">
								<a th:href="@{/clubMain(cname=${regi.club.cname})}"><p
										th:text="${regi.club.cname} + ' (동호회장)'"></p></a>
							</th:block>
							<th:block th:each="regi : ${myRegi}" th:if="${regi.enabled} == 1">
								<a th:href="@{/clubMain(cname=${regi.club.cname})}"><p
										th:text="${regi.club.cname} + ' (동호회원)'"></p></a>
							</th:block>
						</div>
						<button onclick="myFunction('Demo3')"
							class="w3-button w3-block w3-theme-l1 w3-left-align">
							<i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>Waiting
							to join
						</button>
						<div id="Demo3" class="w3-hide w3-container">
							<div class="w3-row-padding">
								<th:block th:each="regi : ${myRegi}"
									th:if="${regi.enabled} == 0">
									<p th:text="${regi.club.cname}"></p>
								</th:block>
							</div>
						</div>
						<button onclick="myFunction('Demo2')"
							class="w3-button w3-block w3-theme-l1 w3-left-align">
							<i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My
							Events
						</button>
						<div id="Demo2" class="w3-hide w3-container">
							<th:block th:each="sche : ${sList}">
								<p th:text="${sche.club.cname}" style="font-weight: bold;"></p>
								<p th:text="${#dates.format(sche.wdate,'yyyy-MM-dd HH:mm')}"></p>
								<p th:text="${sche.location}"></p>
							</th:block>
						</div>
					</div>
				</div>
				<br>

				<!-- Interests 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p>
        </div>
      </div>
      <br>
      -->
				<!-- Alert Box 
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div>
    -->
				<!-- End Left Column -->
			</div>

			<!-- Middle Column -->
			<div class="w3-col m7">

				<!-- 
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Social Media template by w3.css</h6>
              <p contenteditable="true" class="w3-border w3-padding">Status: Feeling Blue</p>
              <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button> 
            </div>
          </div>
        </div>
      </div>
       -->
				<th:block th:each="writer : ${writerList}">
					<div class="w3-container w3-card w3-white w3-round w3-margin">
						<br> <img th:src="${writer.Person.person_img}" alt="Avatar"
							class="w3-left w3-circle w3-margin-right" style="width: 60px">
						<span class="w3-right w3-opacity"
							th:text="${#dates.format(writer.act_Board.regdate,'yyyy-MM-dd')}"></span>
						<h4 th:text="${writer.act_Board.writer_name}"></h4>
						<br>
						<hr class="w3-clear">
						<p th:text="${writer.act_Board.content}"></p>
						<div class="w3-row-padding" style="margin: 0 -16px">
							<!--  
						<div class="w3-half">
							<img src="/w3images/lights.jpg" style="width: 100%"
								alt="Northern Lights" class="w3-margin-bottom">
						</div>
						<div class="w3-half">
							<img src="/w3images/nature.jpg" style="width: 100%" alt="Nature"
								class="w3-margin-bottom">
						</div>
						-->
						</div>
					</div>
				</th:block>

				<!-- End Middle Column -->
			</div>

			<!-- Right Column -->
			<div class="w3-col m2">
				<div class="w3-card w3-round w3-white w3-center" style="margin-top: 16px;">
					<div class="w3-container">
						<p><b><i class="fa fa-calendar-o" aria-hidden="true"></i> Upcoming Events</b></p>
						<hr class ="w3-clear">
						<p>
							<strong th:text="${upEvent.club.cname}"></strong>
						</p>
						<p th:text="${#dates.format(upEvent.wdate,'yyyy-MM-dd HH:mm')}">Friday 15:00</p>
						<p>
						<a th:href="@{/clubMain(cname=${upEvent.club.cname})}">
							<button class="w3-button w3-block w3-theme-l4">Info</button></a>
						</p>
					</div>
				</div>
				<br>

				<div class="w3-card w3-round w3-white w3-center">
					<div class="w3-container">
						<p>
							<i class="fa fa-fire" style="color: red; font-size: 25px;"></i><b
								style="font-size: 20px;"> 'Hot'</b>한 동호회 <i class="fa fa-fire"
								style="color: red; font-size: 25px;"></i>
						</p>
						<hr class ="w3-clear">
						<img th:src="${maxClub.club_img}" alt="Club" style="width: 100%"><br>
						<br> <span th:text="${maxClub.cname}"
							style="font-size: 18px;"></span> <br> <br>

						<!-- 
						<div class="w3-row w3-opacity">
							<div class="w3-half">
								<button class="w3-button w3-block w3-green w3-section"
									title="Accept">
									<i class="fa fa-check"></i>
								</button>
							</div>
							<div class="w3-half">
								<button class="w3-button w3-block w3-red w3-section"
									title="Decline">
									<i class="fa fa-remove"></i>
								</button>
							</div>
						</div>
						 -->
					</div>
				</div>
				<br>


				<!-- End Right Column -->
			</div>

			<!-- End Grid -->
		</div>

		<!-- End Page Container -->
	</div>
	<br>

	<!-- Footer -->
	<div id="foot"></div>



	<script type="text/javascript">
		// Accordion
		function myFunction(id) {
			var x = document.getElementById(id);
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
				x.previousElementSibling.className += " w3-theme-d1";
			} else {
				x.className = x.className.replace("w3-show", "");
				x.previousElementSibling.className = x.previousElementSibling.className
						.replace(" w3-theme-d1", "");
			}
		}

		// Used to toggle the menu on smaller screens when clicking on the menu button
		function openNav() {
			var x = document.getElementById("navDemo");
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
			} else {
				x.className = x.className.replace(" w3-show", "");
			}
		}
	</script>

</body>
</html>
